<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>[title]</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
    </style>
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      font-family: Roboto, Arial, sans-serif;
      background-color: #f4f4f4;
    "
  >
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center">
          <table
            width="450px"
            bgcolor="#ffffff"
            cellspacing="0"
            cellpadding="0"
            style="margin: 20px auto; border-radius: 10px"
          >
            <tr>
              <td
                align="center"
                style="
                  background-color: orangered;
                  height: 100px;
                  border-top-left-radius: 10px;
                  border-top-right-radius: 10px;
                "
              ></td>
            </tr>
            <tr>
              <td align="center" style="padding: 20px">
                <h1 style="color: #333">[header]</h1>
                <p style="font-size: 16px; color: #666">
                 [msg]
                </p>
                <br />
                <a
                  href="[url]"
                  style="
                    display: inline-block;
                    background-color: orangered;
                    color: white;
                    text-decoration: none;
                    padding: 10px 20px;
                    font-size: 15px;
                    border-radius: 5px;
                  "
                >
                  Back To Website
                </a>
                <br /><br />
                <p style="font-size: 14px; color: #999">
                  If you didn't register on our website, please ignore this
                  email.
                </p>
                <br />
                <hr />
                <p style="font-size: 12px; color: #999">
                  © [year] <i>BookHaven</i>, All Rights Reserved.
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
