@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .element-center {
    @apply flex justify-center items-center;
  }
}

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  font-weight: 500;
  box-sizing: border-box;
  font-family: "Inter", "Roboto", "Open Sans", serif;
}

main {
  max-width: 2000px;
  width: 100%;
  margin-inline: auto;
  min-height: 100svh;
}